:root {
    --foreground-light: white;
    --background-light: white;
    --foreground-dark: rgb(15, 15, 15);
    --background-dark: rgb(44, 44, 44);
    --max-container-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: var(--background-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

body > div {
    width: 100%;
}

.header, .footer {
    background-color: var(--foreground-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.header-middle {
    max-width: var(--max-container-width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.footer {
    margin-top: auto;
}

button {
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}

.addBookButton {
    height: 50px;
    width: 200px;
    background-color: var(--foreground-dark);
    font-size: 1.2rem;
    text-align: center;
    margin: 40px 0px;
    padding: 10px;
}


.booksGrid {
    max-width: var(--max-container-width);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.bookCard {
    background-color: var(--foreground-dark);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}

.bookCard > * {
    margin-bottom: 15px;
}

.readButton, .removeButton {
    height: 50px;
    width: 90%;
    font-size: 1.2rem;
    text-align: center;
}

.readButton {
    background-color: green;
}

.removeButton {
    background-color: var(--background-dark);
}

.modalBackground {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    pointer-events: none;
}

.addBookModal {
    visibility: hidden;
    display: flex;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--foreground-dark);
    border-radius: 20px;
}

.showModal {
    visibility: visible;
}

form {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form > *:not(.focus-text) {
    margin-bottom: 35px;
}

.form-row {
    width: 100%;
    position: relative;
}

.inputField {
    width: 90%;
    height: 50px;
}

input[type="text"], input[type="number"] {
    border-radius: 5px;
    outline: none;
    background-color: var(--background-dark);
    border: 0;
    padding-left: 10px;
    font-size: 1.2rem;
}

input::placeholder {
    font-size: 1.2rem;
}

form > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#readItlabel {
    display: inline-block;
    font-size: 1.2rem;
}

input[type="checkbox"] {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

form > button {
    height: 50px;
    width: 90%;
    background-color: green;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 15px;
}

/* Validation Styling */

input:focus:valid, input:not(:focus):not(:placeholder-shown):valid {
    border: 2px solid green;
}

input:focus:invalid, input:not(:focus):not(:placeholder-shown):invalid  {
    border: 2px solid red;
}

input:focus::placeholder {
    color: transparent;
}

.focus-text {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 23px;
    padding: 5px;
    border-radius: 5px;
}

input:focus + div {
    visibility: visible;
    transform: translateX(0px) translateY(-20px);
    transition-duration: 0.3s;
}

input:focus:valid + div {
    background-color: green;
}

input:focus:invalid + div {
    background-color: red;
}

