:root {
    --foreground-light: white;
    --background-light: white;
    --foreground-dark: rgb(15, 15, 15);
    --background-dark: rgb(44, 44, 44);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: var(--background-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

body > div {
    width: 100%;
}

.header, .footer {
    background-color: var(--foreground-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.header-middle {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.footer {
    margin-top: auto;
}

button {
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}

.addBookButton {
    height: 50px;
    width: 150px;
    background-color: var(--foreground-dark);
    margin-top: 50px;
}